/* Для стартовой страницы, books in English,auther, books */

html,body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 20px;
  font-weight: normal;
  font-family: serif;
  box-sizing: border-box;
  margin: 0;
}

.cont {
position: relative;
width: 100%;
max-width: 1000px;
height: 100%;
max-width: 700px;
margin: 0 auto;
}

.content{
  position:absolute;
  top:60px;
  max-width: 700px;
  margin: auto;
}
.library a{
  text-decoration: none;
}

/* Стартовая, книги */

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav{
  position:fixed;
  z-index: 10;
  left:0;
  height: 60px;
  width: 100%;
  /* max-width: 1000px; */
  margin: 0 auto;
  background-color: cadetblue;
  padding: 0;
}
nav a{
  text-decoration: none;
}

.menu_list{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.menu_list>li{
  list-style: none;
  text-align: center;
}
.menu_list>li:hover .sub_menu_list{
  display: block;
  list-style-position: inside;
  text-align:left;
  background-color: cadetblue;
  width: 250px;
  padding: 15px 10px 10px 10px;
}
.sub_menu_list{
  display: none;
}

img[alt='home'] {
  width: 40px;
}
.avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 10px 14px 2px rgba(13, 52, 124, 0.255);
}

#infotext {margin-left: 40px; color: blue;}

.subjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subjects a{
  text-decoration: none;
}

.python {
  padding: 0 10px 0 0;
  width: 30%;
}

.frontend {
  padding: 0 10px 0 0;
  width: 30%;
}

.books {
  padding: 0 10px 0 0;
  width: 30%;
}

 /* Для книг (текст) */
article {
margin-left: 15px;
}

article p {
text-indent: 20px;
}

.links {
  display:flex
}

.link-descr {
  margin-left: 20px;
}

.link {
  width: 20%;
}

/* для других страниц , English */

.theme {text-align: center;}

/* Books in English */
article h1 {text-align: center;}

.text {text-indent: 20px;}

.item1 {margin: 20px;}

.item2 {margin-left: 300px;}

.auther {margin-bottom: 7px;}

.name-book {margin-left: 40px;}

/* О писателе */
.img_short {width: 200px; border-radius: 30px;}

.writer {display: flex; margin: 1rem 1rem;}

.writer-info {margin-left: 40px;}

.name {text-align: center;}

.born {text-align: center;}

.char {font-style: italic; font-weight: bold;
text-decoration: underline;}