body {
    margin: auto;
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 20px;
    font-weight: normal;
    font-family: serif;
    box-sizing: border-box;
}

.cont {
  /* width: 100%; */
  height: 100%;
}

img[alt='home'] {
  width: 40px;
  padding: 0 0 0 40%;
}

img[alt="arrow-top"] {
  width: 40px;
  position: fixed;
  right: 0;
  bottom: 1em;
}

.left_right {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}

.left {
  max-width: 210px;;
  width: 20%;
  background-color: aliceblue;
  padding: 0 0 20px 10px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.left a {
  text-decoration: none;
}

.left p:hover {
  background-color: rgba(34, 137, 221, 0.281);
}

.left img[alt="arrow-top"]:hover {
  background-color: rgba(34, 137, 221, 0.281);
}

.right {
    width: 80%;
    margin-left: 25%;
}

section {margin: 0 0 25px 0;}

footer {
  border: 1px solid black;
  padding: 0 15px;
  margin: 0 0 5% 25%;
}